.body{
    position: relative;
}
.first_box{
    align-items: center;
    margin-top: 40px;
    margin-left: 28%;

}
.box{
    position: absolute;
    
    right: 0;
    bottom: 0;

}
/* .box1{
    position: absolute;
    right:180px;
    bottom: -350px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.webcam{
    width: 350px;
    height: 320px;
    
}